
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido al buzon, <%= @user.email %></h1>
    <h1>asunto: <%= @mmail.subject %></h1>
    <p>
    
     <% case @report %>
       <% when 1 %>
        Haz pedido el reporte de Empresas
       <% when 2 %>
        Haz pedido el reporte de Tickets
       <% else %>
        No hay reporte para este pedido

     <%end%>
      
    </p>
    
    <p>Gracias que tengas un gran dia!</p>
  </body>
</html>
